@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--light-grayish-cyan);
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}


.main {
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}

.tip {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.tip__title {
    text-transform: uppercase;
    align-self: center;
}

.tip__title_h1 {
    letter-spacing: 10px;
    color: var(--dark-grayish-cyan);
}

.tip__calculator {
    background-color: var(--white);
    border-radius: 15px;
    width: 100%;
    padding: 1em;
}

.tip__calculator__form,
.tip__calculator__form--input-controls {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input__group__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    align-items: center;
    width: 100%;
    text-align: center;
}

.control__tip {
    width: 100%;
    height: auto;

}

.control__tip label {
    display: inline-block;
    font-size: 18px;
    width: 100%;
    height: auto;
    padding: 1em;
    border-radius: 8px;
    background-color: var(--very-dark-cyan);
    color: var(--white);
}



.tip__custom {
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    width: 100%;
    height: auto;
    padding: .8em 1em;
    border-radius: 8px;
    outline: none;
    border: none;
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    font-family: inherit;
}

.tip__custom:focus {
    border: 2px solid var(--strong-cyan);
}

.control__tip input[type=radio] {
    display: none;
}

.control__tip input:checked+label {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.tip__calculator__form--input--total {
    background-color: var(--very-dark-cyan);
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--white);
    border-radius: 8px;
    padding: 2em 1em;

}

.tip__calculator__form--input--total div {
    width: 100%;
    height: auto;
}

.tip__amount,
.tip__total {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.tip__amount .peque,
.tip__total .peque {
    font-size: 14px;
    color: var(--light-grayish-cyan);
}

#tip__amount,
#tip__total {
    font-size: 22px;
    color: var(--strong-cyan);
}

.icono {
    font-weight: 700;
    font-size: 18px;
    color: var(--strong-cyan);
}

.btn {
    width: 100%;
    padding: .5em;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-family: inherit;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;

}

.--primary {
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
}

.--primary:hover {
    background-color: hsl(172, 76%, 59%);
}


/*inputs*/
.input__group {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input__group input {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 15px;
    text-align: right;
    font-weight: 700;
    font-family: inherit;
    outline: none;
    color: var(--dark-grayish-cyan);
    background-color: var(--very-light-grayish-cyan);
}

.input__group input:focus {
    color: var(--very-dark-cyan);
}

.input__group label {
    color: var(--dark-grayish-cyan);
}

.input__group i {
    position: absolute;
    top: 40px;
    left: 15px;
    color: var(--dark-grayish-cyan);
    font-weight: 700;
    font-size: 14px;
}

.error {
    border: 1px solid !important;

    border-color: tomato !important;

}

.error__mess {
    display: none;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 12px;
    color: tomato;
}



.attribution {
    position: relative;

    background-color: var(--very-light-grayish-cyan);
    width: 100%;
    padding: 1em;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: var(--strong-cyan);
}

@media(min-width: 700px) {
    .attribution {
        position: absolute;
        bottom: 0;
        margin-top: 1em;
    }

    .tip {
        gap: 1em;
        max-width: 75%;
    }

    .tip__amount {
        margin-top: 2em;
    }

    .tip__total {
        margin-top: 2em;
    }

    .button__group {
        margin-top: 6em;
    }

    .tip__calculator__form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .input__group__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .tip__calculator__form--input-controls {
        gap: 3em;
    }
}